{% extends 'main_template.html' %}
{% block content %}

    <script src="/auth/scripts/createAccount.js"></script>

    <style>
        .msg-error {
            font-size: .875em
        }
    </style>

    <main class="my-5">
        <div class="container">
            <!--Section: Content-->

            <!--Section: Content-->
            <section>

                <div class="row justify-content-center mb-5" style="margin-top: 100px;">
                    <div class="col-3">
                        <a href="/auth/login"
                           class="btn btn-secondary btn-md mr-1 mb-2">
                            <i class="fas fa-user pr-2"></i>
                            Déjà un compte ? Identifiez vous !
                        </a>
                    </div>
                </div>

                {% if content.errors %}
                    <div class="alert alert-danger" role="alert">
                        Le formulaire contenait des erreurs.
                        {{ content.errors }}
                    </div>
                {% endif %}

                <form id="createAccountForm" action="{{ "/auth/createAccount" }}" method="post">

                    <div class="row justify-content-center">
                        <div class="col-8">
                            <p><span class="mr-1"><strong>Création d'un nouveau compte utilisateur</strong></span></p>
                        </div>
                    </div>

                    <!--Grid row-->
                    <div class="row justify-content-center">

                        <!--Grid column-->
                        <div class="col-8">

                            <!--Section: Content-->
                            <section>

                                <!-- username -->
                                <div class="form-outline mb-4">
                                    <input type="text" id="username" name="username"
                                           value="{{ content.details.username }}" class=" form-control"/>
                                    <label class="form-label" for="username">Nom d'utilisateur (courriel)</label>

                                    <div id="error-username" class="form-helper text-danger">
                                        {% if content.errors.username %}
                                            {{ content.errors.username }}
                                        {% endif %}
                                    </div>

                                </div>

                                <!-- password -->
                                <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-outline">
                                            <input type="password" id="passwordA" name="passwordA"
                                                   class="form-control"/>
                                            <label class="form-label" for="passwordB">Mot de passe</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline">
                                            <input type="password" id="passwordB" name="passwordB"
                                                   class="form-control"/>
                                            <label class="form-label" for="passwordB">Confirmer le mot de passe</label>
                                        </div>
                                    </div>
                                    <div id="error-passwordA" class="form-helper text-danger msg-error">
                                        {% if content.errors.password %}
                                            {{ content.errors.password }}
                                        {% endif %}

                                    </div>
                                </div>


                                <p><span class="mr-1">Renseignements personnels</span></p>

                                <!-- nom-prenom -->
                                <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-outline">
                                            <input type="text" id="firstName" name="firstName"
                                                   value="{{ content.details.firstName }}"
                                                   class=" form-control"/>
                                            <label class="form-label" for="firstName">Prénom</label>

                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline">
                                            <input type="text" id="lastName" name="lastName"
                                                   value="{{ content.details.lastName }}"
                                                   class=" form-control"/>
                                            <label class="form-label" for="lastName">Nom</label>

                                        </div>
                                    </div>
                                    <div id="error-firstName" class="form-helper text-danger msg-error"></div>
                                    <div id="error-lastName" class="form-helper text-danger msg-error"></div>
                                </div>

                                <!-- adresse line 1 -->
                                <div class="form-outline mb-4">
                                    <input type="text" id="addressLine1" name="addressLine1" value="{{ content.details.addressLine1 }}" class="form-control"/>
                                    <label class="form-label" for="addressLine1">Adresse ligne 1</label>
                                    <div id="error-addressLine1" class="form-helper text-danger"></div>
                                </div>

                                <!-- adresse line 2 -->
                                <div class="form-outline mb-4">
                                    <input type="text" id="addressLine2" name="addressLine2" value="{{ content.details.addressLine2 }}" class="form-control"/>
                                    <label class="form-label" for="addressLine2">Adresse ligne 2</label>
                                    <div id="error-addressLine2" class="form-helper text-danger"></div>
                                </div>

                                <!-- code poste/ville -->
                                <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-outline">
                                            <input type="text" id="postalCode" name="postalCode"
                                                   value="{{ content.details.postalCode }}"
                                                   class="form-control"/>
                                            <label class="form-label" for="postalCode">Code postal</label>
                                            <div id="error-postalCode" class="form-helper text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline">
                                            <input type="text" id="city" name="city"
                                                   value="{{ content.details.city }}"
                                                   class="form-control"/>
                                            <label class="form-label" for="city">Ville</label>
                                            <div id="error-city" class="form-helper text-danger"></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Etats -->
                                <div class="form-outline mb-4">
                                    <input type="text" id="state" name="state"
                                           value="{{ content.details.state }}"
                                           class="form-control" />
                                    <label class="form-label" for="state">Etat</label>
                                    <div id="error-state" class="form-helper text-danger"></div>
                                </div>

                                <!-- Pays -->
                                <div class="form-outline mb-4">
                                    <input type="text" id="country" name="country"
                                           value="{{ content.details.country }}"
                                           class="form-control"/>
                                    <label class="form-label" for="state">Pays</label>
                                    <div id="error-country" class="form-helper text-danger"></div>
                                </div>


                            </section>

                        </div>

                    </div>

                    <div class="row justify-content-center">
                        <div class="col-6">
                            <button type="submit"
                                    class="btn btn-primary btn-block btn-md mr-1 mb-2">
                                <i class="fas fa-plus pr-2"></i>
                                [Créer mon compte]
                            </button>

                        </div>
                    </div>

                </form>

            </section>

        </div>
    </main>



{% endblock %}