{% extends 'main_template.html' %}
{% block content %}

    {#    <link rel="stylesheet" href="/cart/scripts/cartPage.css"/>#}
    {#   On ne peut pas insérer un script avec JQuery tout de suite avant que jquery ai été inclu. #}
    {#   Voir en bas :  {% block jqScripts %}  #}
    {#   >> Voir templates/main_template.html:153 #}
    {#    <script src="/cart/scripts/cart-page.js"></script> #}

    <main class="my-5">
        <div class="container">
            <!--Section: Content-->

            <!--Section: Content-->
            <section>

                <!--Grid row-->
                <div class="row" style="margin-top: 100px;">

                    <!--Grid column-->
                    <div class="col-md-12 mb-4">

                        <!--Section: Content-->
                        <section class="mb-5">

                            <h5>Historique de mes commandes</h5>
                            <div id="div-order-error"></div>
                            <div id="div-order-content"></div>

                        </section>

                    </div>

                </div>

            </section>

        </div>

    </main>

{% endblock %}

{% block jqScripts %}

    <script src="/orders/scripts/order-page.js"></script>

{% endblock %}
