<script defer="defer" src="/static/js/block_search.js"></script>
<div class="dropdown">
    <div class="input-group mr-4">

        <input type="search" id="search" name="search" class="form-control" placeholder="Recherche"/>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
    <div id="box-search" class="hide"
         style="width: 20rem; max-height: 50rem; position:absolute; right: 0; overflow: auto; background: white; font-weight: bolder;">
        <div id="nb-results" style="border:2px solid gray;"></div>
        <div id="search-container">
        </div>
    </div>
</div>
