<!-- Demo styles -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
<style>
    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-pagination-bullet {
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 1.5rem;
        font-weight: bolder;
        color: #000;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
    }

    .swiper-pagination-bullet-active {
        color: #fff;
        background: #007aff;
    }
</style>

<!-- Swiper -->
<div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
        {% for product in content.carrousel %}
            <div class="swiper-slide card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="{{ product.productImg }}"
                         class="img-fluid" alt="Image du produit {{ product.productCode }}"/>
                    <a href="/product/details/{{ product.productCode }}">
                        <div class="mask"
                             style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.productName }}</h5>
                    <h4 class="card-subTitle">{{ product.productLine }}</h4>
                    <p class="card-text">
                        {{ product.productDescription }}
                    </p>
                    <a href="/product/details/{{ product.productCode }}"
                       class="btn btn-primary btn-md mr-1 mb-2">Détail</a>
                    {% if g.user.user_name != 'Guest' and not g.user.is_employee %}
                        <button
                                type="button"
                                class="add-to-shopping-cart btn btn-light btn-md mr-1 mb-2"
                                data-productCode="{{ product.productCode }}"
                                data-productName="{{ product.productName }}"
                                data-productImg="{{ product.productImg }}"
                        >
                            <i class="fas fa-shopping-cart pr-2"></i>Ajouter à mon panier
                        </button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
</div>


<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
            renderBullet: function (index, className) {
                return '<span class="' + className + '">' + (index + 1) + "</span>";
            }
        }
    });
</script>
