{% extends "main_template.html" %}
{% block content %}

    <main class="my-5">
        <div class="container">

            <!--Section: Content-->
            <section>
                <!-- Jumbotron -->
                <div id="intro" class="p-5 text-center bg-light shadow-5 rounded mb-5">
                    <h1 class="mb-3 h2">Bienvenue sur le site web de MDB</h1>
                </div>
                <!-- Jumbotron -->
            </section>
            <!--Section: Content-->

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-10 mb-4">
                    {% if g.user.is_employee %}
                        <a href="/product/add" class="btn btn-primary">Ajouter un produit</a>
                    {% endif %}

                    <section class="text-center" style="padding:2rem;">
                        <h4 class="mb-5"><strong>Top 10 des produits les plus disponibles</strong></h4>
                        {% include 'block_carrousel.html' %}
                    </section>

                    <!--Section: Content-->
                    <section class="text-center">

                        <h4 class="mb-5"><strong>5 Produits les plus disponibles</strong></h4>

                        <div class="row">
                            {% for product in content.top_5_posts %}

                                <div class="col-lg-4 col-md-12 mb-4">
                                    <div class="card">
                                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                            <img src="{{ product.productImg }}"
                                                 class="img-fluid"/>
                                            <a href="/product/details/{{ product.productCode }}">
                                                <div class="mask"
                                                     style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{ product.productName }}</h5>
                                            <h4 class="card-subTitle">{{ product.productLine }}</h4>
                                            <p class="card-text">
                                                {{ product.productDescription }}
                                            </p>
                                            <a href="/product/details/{{ product.productCode }}"
                                               class="btn btn-primary">Détail</a>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}


                        </div>


                    </section>
                    <!--Section: Content-->
                </div>

                <!--Grid column-->
                <div class="col-md-2 mb-2">
                    <!--Section: Sidebar-->
                    <section class="sticky-top" style="top: 80px;">
                        <!--Section: Product Lines-->
                        <section class="border-bottom pb-4 mb-4">

                            <h5>Lignes produits</h5>

                            <ul class="list-group">
                                {% for line in content.product_lines %}
                                    <li class="list-group-item d-flex justify-content-between align-items-left">
                                        <a
                                                href="/productLine?productLine={{ line.productLine }}"
                                                class="w-100">{{ line.productLine }}
                                        </a>
                                        <span class="badge bg-primary badge-pill">{{ line.nb }}</span>
                                    </li>
                                {% endfor %}
                            </ul>

                            {#                            {% for line in content.product_lines %}#}
                            {#                                <a type="button" href="/lines/details/{{ line.productLine }}"#}
                            {#                                   class="btn btn-light mb-2 w-100">{{ line.productLine }}</a>#}
                            {#                            {% endfor %}#}
                        </section>
                        <!--Section: Product Lines-->

                    </section>
                    {% if g.user.is_employee %}
                        <a href="/productLine/add" class="btn btn-primary">Ajouter un produit</a>
                    {% endif %}

                    <!--Section: Sidebar-->
                </div>

            </div>

        </div>
    </main>

{% endblock %}
