<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Boutique TP</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"/>
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet"/>
    <!-- Custom styles -->
    {#    <link rel="stylesheet" href="css/style.css"/>#}

</head>
<body>
<!--Main Navigation-->
<header>
    <!-- Intro settings -->
    <style>
        #intro {
            /* Margin to fix overlapping fixed navbar */
            margin-top: 100px;
        }
    </style>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand" target="_blank" href="https://mdbootstrap.com/docs/standard/">
                <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="16" alt=""
                     loading="lazy" style="margin-top: -3px;"/>
            </a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
                    aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarExample01">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="/">Accueil</a>
                    </li>
                    {% if g.user.is_employee %}
                        <li class="nav-item">
                            <a class="nav-link" href="/product/add"
                               rel="nofollow"
                               target="_blank">[Nouveau produit]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/productLines/add" target="_blank">
                                [Nouvelle ligne]</a>
                        </li>
                    {% endif %}
                </ul>

                <ul class="navbar-nav d-flex flex-row">

                    <!-- Icons -->
                    <li class="nav-item me-lg-4">
                        <form autocomplete="off" class="d-flex" action="/search" method="GET">
                            <input type="hidden" name="page" value="1">
                            <div class="form-outline">
                                {% include 'block_search.html' %}
                            </div>
                        </form>
                    </li>

                    {% if g.user.user_name != 'Guest' and not g.user.is_employee %}
                        {% include 'cartBlock.html' %}
                    {% endif %}
                    <li class="nav-item dropdown">
                        {% if g.user.user_name == 'Guest' %}
                            <a class="nav-link" href="/auth" rel="nofollow">
                                <i class="fas fa-user-alt"></i>
                            </a>
                        {% else %}
                            <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
                               id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown"
                               aria-expanded="false">
                                <img
                                        src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg"
                                        class="rounded-circle"
                                        height="22"
                                        alt="" loading="lazy"
                                />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <div class="dropdown-item">[{{ g.user.user_name }}]</div>
                                </li>
                                <li><a class="dropdown-item" href="/orders/{{ g.user.user_id }}">Mes achats</a></li>
                                <li><a class="dropdown-item" href="/auth/logout">Se déconnecter</a></li>
                            </ul>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
</header>
<!--Main Navigation-->

{% if g.message %}
    <div class="alert alert-success mt-5" role="alert">
        {{ g.message }}
    </div>
{% endif %}


<!--Main layout-->
{% block content %}
{% endblock %}
<!--Main layout-->

<!--Footer-->
<footer class="bg-light text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1);">© 2021 Copyright:
        <a class="text-dark" href="http://techinfo.cegepgarneau.ca/">05C - Cégep Garneau</a>
    </div>
    <!-- Copyright -->
</footer>
<!--Footer-->
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
<!-- Custom scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!--Main layout-->
{% block jqScripts %}
{% endblock %}
<!--Main layout-->
</body>
</html>
