{% extends "main_template.html" %}
{% block content %}

    <main class="my-5">
        <div class="container">
            <!--Section: Content-->

            <!--Section: Content-->
            <section>

                <!--Grid row-->
                <div class="row" style="margin-top: 100px;">

                    <!--Grid column-->
                    <div class="col-md-12 mb-4">

                        <!--Section: Content-->
                        <section class="mb-5">

                            <h5>Résultat de la recherche</h5>

                            {% if data %}

                                <h4>
                                    {{ data.nbProducts }} produits trouvés
                                    {% if data.pagination.route == 'productLine' %}
                                        dans la catégorie {{ data.pagination.productLine }}
                                    {% endif %}

                                </h4>

                                {% if data.nbProducts > 0 %}

                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Ligne produit</th>
                                            <th scope="col">Vendeur</th>
                                            <th scope="col">Taille</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for product in data.products %}
                                            <tr>
                                                <th scope="row">
                                                    <a href="/product/details/{{ product.productCode }}">
                                                        {{ product.productCode }}
                                                    </a>
                                                </th>
                                                <td>{{ product.productName }}</td>
                                                <td>{{ product.productLine }}</td>
                                                <td>{{ product.productVendor }}</td>
                                                <td>{{ product.productScale }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                {% endif %}

                                <!-- Pagination -->
                                {% if data.pagination.nbPages > 0 %}
                                    <nav class="my-4" aria-label="...">
                                        <ul class="pagination pagination-circle justify-content-center">

                                            {% if data.pagination.curPage - 1 > 0 %}
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       href="/{{ data.pagination.route }}?page={{ data.pagination.curPage - 1 }}{{ data.pagination.pageCriteria }}">
                                                        Précédent</a>
                                                </li>
                                            {% endif %}

                                            {% for i in range(data.pagination.nbPages + 1) %}

                                                <li class="page-item {{ 'active' if data.pagination.curPage == (i + 1) }}">
                                                    <a class="page-link"
                                                       href="/{{ data.pagination.route }}?page={{ i + 1 }}{{ data.pagination.pageCriteria }}">
                                                        {{ i + 1 }}
                                                        {% if data.pagination.curPage == (i + 1) %}
                                                            <span class="sr-only">(current)</span>
                                                        {% endif %}
                                                    </a>
                                                </li>
                                            {% endfor %}

                                            {% if data.pagination.curPage + 1 <= data.pagination.nbPages %}
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       href="/{{ data.pagination.route }}?page={{ data.pagination.curPage + 1 }}{{ data.pagination.pageCriteria }}">
                                                        Suivant</a>
                                                </li>
                                            {% endif %}

                                        </ul>
                                    </nav>
                                {% endif %}

                            {% else %}

                                <h4>La recherche ne renvoie aucun résultat.</h4>


                            {% endif %}

                        </section>
                    </div>

                </div>

            </section>

        </div>

    </main>

{% endblock %}