{% extends "main_template.html" %}
{% block content %}

    {% if content.details or content.insertMode %}

        <main class="my-5">
            <div class="container">
                <!--Section: Content-->

                <!--Section: Content-->
                <section>

                    <form action="{{ "/product/edit/"+content.details.productCode if not content.insertMode else "/product/add" }}"
                          method="post"
                          enctype="multipart/form-data">

                        <!--Grid row-->
                        <div class="row" style="margin-top: 100px;">

                            <!--Grid column-->
                            <div class="col-md-6 mb-4">

                                <!--Section: Content-->
                                <section class="mb-5">

                                    {% if content.insertMode %}
                                        <h5>Ajout d'un nouveau produit</h5>
                                    {% else %}
                                        <h5>Édition du produit {{ content.details.productCode }}</h5>
                                    {% endif %}
                                    {% if content.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            Le formulaire contenait des erreurs.
                                            {{ content.errors }}
                                        </div>
                                    {% endif %}

                                    {% if content.updateOk %}
                                        <div class="alert alert-success" role="alert">
                                            Les informations ont bien été mises à jour.
                                        </div>
                                    {% endif %}

                                    {% if content.insertMode %}
                                        <!-- Product Name input -->
                                        <div class="form-outline mb-4">
                                            <input type="text" id="productCode" name="productCode" class="form-control"
                                                   value="{{ content.details.productCode }}"/>
                                            <label class="form-label" for="productName">Code produit</label>
                                            {% if content.errors.productCode %}
                                                <div class="form-helper text-danger">{{ content.errors.productCode }}</div>
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <input type="hidden" name="productCode"
                                               value="{{ content.details.productCode }}">
                                    {% endif %}

                                    <!-- Product Name input -->
                                    <div class="form-outline mb-4">
                                        <input type="text" id="productName" name="productName" class="form-control"
                                               value="{{ content.details.productName }}"/>
                                        <label class="form-label" for="productName">Nom du produit</label>
                                        {% if content.errors.productName %}
                                            <div class="form-helper text-danger">{{ content.errors.productName }}</div>
                                        {% endif %}
                                    </div>

                                    <div class="form-group mb-4">
                                        <label for="productLine">Ligne produit</label>
                                        <select class="form-control" id="productLine" name="productLine">
                                            {% for productLine in content.productLines %}
                                                <option value="{{ productLine }}" {{ 'selected' if content.details.productLine == productLine }} >{{ productLine }}</option>
                                            {% endfor %}
                                        </select>
                                        {% if content.errors.productLines %}
                                            <div class="form-helper text-danger">{{ content.errors.productLines }}</div>
                                        {% endif %}

                                    </div>

                                    <div class="form-group mb-4">
                                        <label for="productVendor">Vendeur</label>
                                        <select class="form-control" id="productVendor" name="productVendor">
                                            {% for productVendor in content.productVendors %}
                                                <option value="{{ productVendor }}" {{ 'selected' if content.details.productVendor == productVendor }} >{{ productVendor }}</option>
                                            {% endfor %}
                                        </select>
                                        {% if content.errors.productVendor %}
                                            <div class="form-helper text-danger">{{ content.errors.productVendor }}</div>
                                        {% endif %}

                                    </div>

                                    <div class="form-group mb-4">

                                        <label for="productScale">Échelle du produit</label>
                                        <select class="form-control" id="productScale" name="productScale">
                                            {% for productScale in content.productScales %}
                                                <option value="{{ productScale }}" {{ 'selected' if content.details.productScale == productScale }} >{{ productScale }}</option>
                                            {% endfor %}
                                        </select>
                                        {% if content.errors.productScales %}
                                            <div class="form-helper text-danger">{{ content.errors.productScales }}</div>
                                        {% endif %}

                                    </div>

                                    <div class="form-outline mb-4">
                                        <textarea class="form-control" name="productDescription" id="productDescription"
                                                  rows="3">{{ content.details.productDescription }}</textarea>
                                        <label class="form-label" for="productDescription">Description</label>
                                        {% if content.errors.productDescription %}
                                            <div class="form-helper text-danger">{{ content.errors.productDescription }}</div>
                                        {% endif %}
                                    </div>

                                    <div class="row mb-4">

                                        <div class="col">
                                            <div class="input-group">
                                                <span class="input-group-text" id="buyPrice">Prix d'achat $</span>
                                                <input type="number" id="buyPrice" name="buyPrice" class="form-control"
                                                       value="{{ content.details.buyPrice }}"/>
                                                {% if content.errors.buyPrice %}
                                                    <div class="form-helper text-danger">{{ content.errors.buyPrice }}</div>
                                                {% endif %}
                                            </div>

                                        </div>

                                        <div class="col">
                                            <div class="input-group">
                                                <span class="input-group-text" id="MSPR">Prix de vente $</span>
                                                <input type="number" id="MSRP" name="MSRP" class="form-control"
                                                       value="{{ content.details.MSRP }}"/>
                                                {% if content.errors.MSRP %}
                                                    <div class="form-helper text-danger">{{ content.errors.MSRP }}</div>
                                                {% endif %}
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row mb-4">

                                        <div class="col">
                                            <div class="input-group">
                                                <span class="input-group-text"
                                                      id="quantityInStock">Quantité en stock</span>
                                                <input type="number" id="quantityInStock" name="quantityInStock"
                                                       class="form-control"
                                                       value="{{ content.details.quantityInStock }}"/>
                                                {% if content.errors.quantityInStock %}
                                                    <div class="form-helper text-danger">{{ content.errors.quantityInStock }}</div>
                                                {% endif %}
                                            </div>
                                        </div>

                                    </div>

                                    <div class="mt-2">
                                        <a href="/" class="btn btn-md mr-1 mb-2"> [Annuler] </a>

                                        <button type="submit"
                                                class="btn btn-primary btn-md mr-1 mb-2">
                                            <i class="fas fa-edit pr-2"></i>
                                            [Valider]
                                        </button>
                                    </div>


                                </section>

                            </div>

                            <!--Grid column-->
                            <div class="col-md-6 mb-2">
                                <!--Section: Sidebar-->
                                <section class="sticky-top" style="top: 80px;">
                                    <!--Section: Product Image-->
                                    <img src="{{ content.details.productImg }}" alt="Product image"
                                         class="w-100 img-fluid img-thumbnail">
                                    <!--Section: Product Image-->

                                    <input type="file" name="file">

                                </section>
                                <!--Section: Sidebar-->
                            </div>


                        </div>

                    </form>


                </section>
                <!--Section: Content-->


            </div>
        </main>

    {% else %}

        <main class="my-5">
            <div class="container">

                <!--Section: Content-->
                <section>
                    <!-- Jumbotron -->
                    <div id="intro" class="p-5 text-center bg-light shadow-5 rounded mb-5">
                        <h1 class="mb-3 h2">Le produit n'existe pas</h1>
                        <a class="btn btn-primary m-2" href="/" target="_blank"
                           role="button">
                            < Retour
                        </a>
                    </div>
                    <!-- Jumbotron -->
                </section>
                <!--Section: Content-->

            </div>
        </main>

    {% endif %}

{% endblock %}
